/* topnav container */
.topNav {
  position: fixed;
  width: 1920px;
  height: 75px;
  left: 0px;
  top: 0px;
  z-index: 9;
}

/*Sticky nav bar*/
.topNavScrolled {
  position: fixed;
  width: 1920px;
  height: 75px;
  left: 0px;
  top: 0px;
}
/* long grey background bar */
.longBar{
  position: fixed;
  width: 1920px;
  height: 75px;
  left: 0px;
  top: 0px;

  background: #C4C4C4;
}

/* Logo */
.logoNavbar {
  position: fixed;
  width: 75px;
  height: 75px;
  left: 158px;
  top: 0px;
  cursor: pointer;
}

/* GAZZ-Kun! */
.logoName {
  position: fixed;
  width: 274px;
  height: 72px;
  left: 261px;
  top: 1px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */

  color: #000000;
}

/* searchBar */
.searchBar{
  position: fixed;
  width: 600px;
  height: 32px;
  left: 660px;
  top: 21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;

  background: #FFFFFF;
  border: none;
}
/* searchIcon */
.searchIcon{
  position: fixed;
  left: 1235px;
  /*right: 34.6%;*/
  width: 18.71px;
  height: 18.71px;
  top: 29px;
  /*bottom: 20.68%;*/
  cursor: pointer;
}
/* Search for items */
.searchForItems{
  position: fixed;
  width: 195px;
  height: 36px;
  left: 680px;
  top: 19px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
}
/* Sign In */
.SignIn{
  position: fixed;
  width: 81px;
  height: 36px;
  left: 1675px;
  top: 21px;
  cursor: pointer;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
}
/* User */
.User{
  position: fixed;
  width: 81px;
  height: 36px;
  left: 1571px;
  top: 21px;
  cursor: pointer;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
}
/* shoppingCartIcon */
.shoppingCartIcon{
  position: fixed;
  width: 53px;
  height: 44px;
  left: 1814px;
  top: 15px;
  cursor: pointer;
}